.loginbgcontainer1 {
  /* height: 71vh; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 5rem;
}
.overflow{
  overflow-x: hidden;
}
.logincontainer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  font-family: Verdana;
  background-image: url('https://s3-alpha-sig.figma.com/img/0b0d/7354/18892239591f7ff7d30eae83d691fae2?Expires=1702252800&Signature=eBL55hSN2SghABudycoLTHwrCaBcYH2uj0VP7NSkXb~NGImxMpZ4KgbksshEPToK0uE5b0ipRyIRC2R8vtqfEqEvxtbrwhw9DizoXPaXftQTwWlfbo~DKcV6sQQdqPP0fvnlxi0aFPF77EJMBFi9LEdObGuKzWVe3DQPUNnC~9NG59EiNNEyb56bp~-JNBAQXxeqUP2hZh2nTiTYpxExvUXIu8HhFl29SATtpMOWhkPH0cyHwTkNQxXx7-NnW~Pc9tfKsa2IOlkZ8V58PXRQX72odCwsbR~-yrd9ROZiH6WEAz3T1CTf3~JBh7VKs2Osz-4BIt-2zeXA3hjQRoHzCQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  background-size: cover;
  background-position: center;
}
.logincontainer2{
  /* height: 60vh; */
  width: 100%;
  background-color: #fff;
  border-radius: 5%;
  margin-left: 35%;
  border: 1px solid #000080;
}
.loginforms1 {
  background-color:transparent;
  max-width: 600px;
  width: 130%;
  /* height:85%; */
  margin-top: 50px;
  border-radius: 5%; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.loginform-content1 {
  text-align: center;
  color: #ad47bd;
}
.loginspan1{
  color: black;
}
.loginspan1:hover{
  color:#000080; 
}
.loginpara1{
  color:#f5f7fb;
}
.loginHeadername1 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-left: -60%;
  margin-top: 6%;
}
.loginfield1 {
  margin-bottom: 20px;
}
.logininput-field1 input, .loginpassword1 {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 3%;
  margin-top: 5%;
  border: none;
  outline-width: 0px;
  border-bottom: 1px solid black;
}
.loginpassword1 {
  position: relative;
}
.login-or{
  display: flex;
  flex-direction: row;
  color: black;
}
.login-hr1,.login-hr2{
  width: 12%;
  height: 0.5px;
  background-color: black;
  margin-left: 30%;
}
.login-hr2{
  margin-left: 5%;
}
.or{
  margin-left: 4%;
  margin-top: -3%;
}

.loginform-link1 {
  color: black;
  width: 100%;
  padding-left: 13%;
  padding-top: 5%;
  padding-bottom: 4%;
  
}
.loginbutton-field1 button {
  width: 80%;
  padding: 10px;
  background-color: #111133; 
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: -2%;
  font-size: 20px;
  margin-top: 2%;
  
}
.loginbutton-field1 button:hover{

  /* background-image: linear-gradient(to right, #3b4b3f, #0da34e, #f0571a); */
  background-color: #111133;
  /* background-color: #05ed01; */
}
.login-icon21{
  display: inline-block;
  cursor: pointer;               
  color: black;
}
.loginline11 {
  display: flex; 
  justify-content: space-between; 
  max-width: 1200px;
  margin: 0 auto; 
  color: black;
}
.section3,
.section4 {
  flex: 1; 
  padding: 14px; 
  color: black;
  box-sizing: border-box; 
}
.section4 {
  padding: 16px;
}
.loginmedia-options11 {
  
  border-radius: 12px;
  width: 130%;
  text-align: center;
   margin-left: -50px;
}
.loginmedia-options12 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  border-width: 1px;
  border-color: #666;
  border-radius: 20px;
  width: 150%;
  
}
.google-login-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
  /* margin-left: -50%; */
  margin-top: 5%;
}

/* Apply styles to GoogleLogin button */
.google-login-container .google-login-button {
  background-color: #db4a39; /* Change background color */
  color: white;
  border: none;
  border-radius: 5px;
  /* padding: 10px 20px; */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.google-login-container .google-login-button:hover {
  background-color: #e57373; /* Change hover background color */
}

.loginform-link{
  margin-bottom: 10px;
  
}
.loginforgot-pass {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.loginforgot-pass:hover{
  color:#81dbdf
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 270px;
    height: auto;
  }

  .forms {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .forms {
    padding: 10px;
  }

  .field input {
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .logincontainer1 {
    flex-direction: column;
    height: auto;
    width: 270px;
    height: auto;
  }

  .loginforms1 {
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .loginforms1 {
    padding: 10px;
  }

  .loginfield1 input {
    padding: 5px;
    font-size: 16px;
  }
}
@media (max-width:768px){
  .logincontainer1 {
    height: 60vh;
    width: 60%;
  } 
  .logincontainer2{
    margin-left: 85%;
  } 
  .loginbgcontainer1 {
    width: 80vw;
  }
}