/* FooterPage.css */

/* Common styles for all screen sizes */
.footer-container {
  background-color: black;
  color: #fff;
  padding: 15px 0;
  text-align: center; /* Center-align all content */
}


.text12765{
font-weight: 1000;
}
.list45 {
  font-weight: 800;
  line-height: 190%;
  word-spacing: 29%;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center-align items horizontally */
  max-width: 1200px;
  margin: 0 auto 20px; /* Center-align the entire wrapper */
}

.footer-section {
  flex: 1 1 250px;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f39304;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  color: white;
}

/* Remove blue underlines from links */
.footer-section a {
  color: white;
  text-decoration: none;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  /* Center-align social media icons */
}

.social-media-icons li {
  margin-right: 15px;
}

.social-media-icons li a {
  color: white;
  line-height: 80%; 
  text-decoration: none; /* Remove blue underlines from social media links */
}

.footer-bottom {
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}

/* Media query for screens with a maximum width of 425px */
@media screen and (max-width: 425px) {
  .footer-section {
    flex-basis: 100%; /* Full width for small screens */
  }
}
