.footer-container {
  background-color:Black;
  color: #fff;
  padding: 15px 0;
  
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  /* margin: 0 auto; */
  margin-left: 17%;
}

.footer-section {
  flex: 1 1 250px;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f39304;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  color: white;
}

.social-media-icons {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media-icons li {
  /* margin-right: 10px;
  background-color: white;
  background: transparent;
  color: white; */
  margin-right: 15px;
}
.social-media-icons li a{
  color: white;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
}

/* Media queries for responsiveness */

/* Mobile view */
@media (max-width: 767px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-section {
    flex-basis: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  .social-media-icons {
    margin-left: 13rem;
  }
}

/* Tablet and Desktop view */
@media (min-width: 768px) {
  .footer-section {
    flex-basis: 25%;
  }
  

}