/* Import a font library if needed */
a{
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Set font-family to match if available */
}

.navbar {
  background: whitesmoke;
  padding: 10px 0; /* Adjusted padding for the navbar */
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Adjusted padding for the container */
}

.logo{
 font-weight: bolder;
 font-size: 1.5rem;
}

.left-side {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 20px; /* Adjusted padding for the nav items */
  width: auto; /* Change the width to auto to allow items to expand */
}

.nav-item {
  margin-right: 20px;
  cursor: pointer;
  color: black;
  padding: 0 5px;
  font-size: 18px;
  text-decoration: none !important;
  position: relative; /* Added for positioning sub-menu */
}

.nav-item a {
  text-decoration: none !important;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.search-box input {
  border: none;
  outline: none;
  width: 300px;
  margin-right: 5px;
}

.search-icon {
  color: black;
  cursor: pointer;
}

.menu-icons {
  display: flex;
  align-items: center;
  padding: 0 20px; /* Adjusted padding for the menu icons */
}

.menu-icon {
  color: black;
  font-size: 20px;
  margin-left: 20px; /* Adjusted margin for the menu icon */
  cursor: pointer;
  position: relative; /* Needed for absolute positioning */
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 110%; /* Increase the distance from the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: white; /* Set the background color to white */
  color: #333; /* Set the text color */
  padding: 14px 18px; /* Adjust padding for a larger tooltip */
  border-radius: 8px; /* Increase border-radius for a rounder shape */
  font-size: 16px; /* Increase font size for better visibility */
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: opacity 0.2s;
}

.menu-icon:hover + .tooltip {
  opacity: 1; /* Increase opacity for better visibility */
}

.nav-item.categories {
  position: relative;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 10px;
  z-index: 1;
  list-style: none;
  flex-direction: column; /* Adjusted to column */
  width: 100%; /* Adjusted width for the sub-menu */
}

.sub-menu li {
  margin-right: 0; /* Remove margin from the sub-menu items */
}

.sub-menu a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #007bff;
  }
}

.nav-item.categories.active .sub-menu {
  display: flex;
}

.plus-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 10px;
  z-index: 1;
  list-style: none;
  flex-direction: column; /* Adjusted to column */
  width: 100%; /* Adjusted width for the dropdown */
}

.plus-dropdown:hover .dropdown-content {
  display: flex;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .nav-items.show {
    display: flex;
  }

  .search-box {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  /* Burger menu styles */
  .burger-menu.open .bar1,
  .burger-menu.open .bar2,
  .burger-menu.open .bar3 {
    background-color: #fff;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
}

 @media (max-width: 425px) {
  .container {
    padding: 0 10px; /* Adjusted padding for the container */
  }

  .logo {
    font-size: 14px; /* Adjusted font size for the logo */
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 60px; /* Adjusted top position for the nav items */
    left: 0;
    right: 0;
    z-index: 1;
    /* display: ${({ isMenuOpen }) => (isMenuOpen ? 'flex' : 'none')}; */
  }

  .search-box {
    display: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .burger-menu.open .bar1,
  .burger-menu.open .bar2,
  .burger-menu.open .bar3 {
    background-color: #fff;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 20px; /* Adjusted width for the burger menu bars */
    height: 2px; /* Adjusted height for the burger menu bars */
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }

  .menu-icons {
    display: none;
  }

 }